<h1>Регистрация</h1>


<form enctype="multipart/form-data" method="post">
    <input id="name" maxlength="30" minlength="2" name="name" required type="text" value, placeholder="ФИО">
    <input id="login" maxlength="30" minlength="2" name="login" required type="text" value placeholder="Ввести логин">
    <input id="password" name="password" required type="password" value placeholder="Ввести пароль">
    <input id="confirm_password" name="confirm_password" type="password" placeholder="Подтвердить пароль">
    <input id="submit" name="submit" type="submit" value="Зарегистрироваться">
</form>